//==============================================================================
//Grid columns
//==============================================================================


// Calculate grid column widths

.grid__col {
  @include mq(medium) {
  	@include g-columns;}
}

//Column styles

[class^="grid__col--"] {
  @include flex;
  	padding: em($padding-sm) em($padding-lg);
}

.theme__colors.grid__ {
	@include themeColors($grid-theme-colors) {
		margin: em($margin-xs);
	};
}

.grid__col--6 {
	@include mq(medium) {
	align-items: center;}
}

.grid__col--12 {
	@include flex;
	justify-content: space-evenly;
}

.theme__colors {
	  border: em($border-xs) solid inherit;
  	border-radius: 5px;
}